n8n-workflows/school/chat-backend-CLEAN.json
{
  "name": "ai-chatbot-lead-qualification-system",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').last().json.body.message }}\n\n## Attached file content\n{{ $json.combinedText }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "[CUSTOM AI SYSTEM PROMPT - Define your chatbot personality, company info, and response guidelines here]",
          "passthroughBinaryImages": false
        }
      },
      "id": "ai-agent-main",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [-848, 192],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').last().json.headers['x-conversation-id'] }}",
        "tableName": "chat_histories",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [-800, 368],
      "id": "postgres-memory",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "postgres_db"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const files = item.json.body?.files || [];\n  return files.map(file => {\n    const [prefix, rawBase64] = (file.base64 || '').split(',');\n    const mimeMatch = prefix?.match(/^data:(.*?);base64$/);\n    return {\n      json: {\n        name: file.name,\n        base64: file.base64,\n        base64Clean: rawBase64 || '',\n        mime_type: mimeMatch ? mimeMatch[1] : 'application/octet-stream'\n      }\n    };\n  });\n}).flat();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1696, 208],
      "id": "parse-files",
      "name": "Parse Files",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [-1280, 224],
      "id": "loop-files",
      "name": "Loop Over Files"
    },
    {
      "parameters": {
        "jsCode": "let combinedText = '';\n\nfor (const item of items) {\n  const parts = item.json?.candidates?.[0]?.content?.parts;\n  if (Array.isArray(parts)) {\n    for (const part of parts) {\n      if (part.text) {\n        combinedText += part.text + '\\n\\n';\n      }\n    }\n  }\n}\n\nreturn [\n  {\n    json: {\n      combinedText: combinedText.trim()\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1088, 80],
      "id": "combine-files",
      "name": "Combine Files"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-empty",
              "leftValue": "={{$json}}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-1504, 208],
      "id": "check-files",
      "name": "If Files Exist"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [-944, 368],
      "id": "gemini-model",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_GEMINI_API_CREDENTIAL",
          "name": "Gemini API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "YOUR_GEMINI_API_KEY_HERE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"models/gemini-2.0-flash\",\n  \"contents\": [\n    {\n      \"role\": \"user\",\n      \"parts\": [\n        {\n          \"inline_data\": {\n            \"mime_type\": \"{{ $json.mime_type }}\",\n            \"data\": \"{{ $json.base64Clean }}\"\n          }\n        },\n        {\n          \"text\": \"Analyze this file and extract all relevant information.\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1088, 240],
      "id": "gemini-analyze",
      "name": "Gemini Analyze File"
    },
    {
      "parameters": {
        "toolDescription": "Search the internet for additional information when needed",
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            },
            {
              "name": "X-API-KEY",
              "valueProvider": "fieldValue",
              "value": "YOUR_SERPER_API_KEY_HERE"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "=q"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [-736, 528],
      "id": "google-search",
      "name": "Google Search Tool"
    },
    {
      "parameters": {
        "text": "={{ $('Webhook').item.json.body.message }}",
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"name\": {\n      \"type\": \"string\",\n      \"description\": \"Person's full name if mentioned\"\n    },\n    \"email\": {\n      \"type\": \"string\",\n      \"description\": \"Email address if mentioned\"\n    },\n    \"company_url\": {\n      \"type\": \"string\",\n      \"description\": \"Company website if mentioned\"\n    },\n    \"phone\": {\n      \"type\": \"string\",\n      \"description\": \"Phone number if mentioned\"\n    },\n    \"CRM_Ready\": {\n      \"type\": \"number\",\n      \"description\": \"Set to 1 if contact info found, 0 otherwise\"\n    }\n  },\n  \"required\": []\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.1,
      "position": [-384, 368],
      "id": "extract-contact",
      "name": "Extract Contact Info",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [-368, 544],
      "id": "gemini-extractor",
      "name": "Gemini for Extraction"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-crm",
              "leftValue": "={{ $json.output.CRM_Ready }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2288, 128],
      "id": "check-qualified",
      "name": "Check If Qualified Lead"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "early-check",
              "leftValue": "={{ $json.output.CRM_Ready }}",
              "rightValue": "=1",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [960, 160],
      "id": "early-qualification",
      "name": "Early Contact Detection"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [1712, 352],
      "id": "gemini-pro",
      "name": "Gemini Pro for Analysis"
    },
    {
      "parameters": {
        "jsCode": "try {\n  const rawOutput = $input.first().json.output || \"\";\n  const jsonMatch = rawOutput.match(/```(?:json|html|[a-zA-Z]*)\\s*([\\s\\S]*?)\\s*```/);\n  let cleanedOutput = jsonMatch ? jsonMatch[1] : rawOutput;\n  cleanedOutput = cleanedOutput.replace(\n    /<!DOCTYPE[^>]*>|<html[^>]*>|<\\/html>|<head[^>]*>[\\s\\S]*?<\\/head>|<body[^>]*>|<\\/body>/gi,\n    ''\n  );\n  cleanedOutput = cleanedOutput.replace(/^\\uFEFF/, '').trim();\n  cleanedOutput = cleanedOutput.replace(/[\\u0000-\\u001F\\u007F]/g, (char) => {\n    return (char === '\\n' || char === '\\r' || char === '\\t') ? char : ' ';\n  });\n  cleanedOutput = cleanedOutput.replace(/>\\s+</g, '><').replace(/\\s+/g, ' ').trim();\n  let parsedData;\n  try {\n    parsedData = JSON.parse(cleanedOutput);\n  } catch (parseError) {\n    const furtherSanitizedOutput = cleanedOutput.replace(/>([^<]+)</g, (match, p1) => {\n      return '>' + p1.replace(/\"/g, '\\\\\"') + '<';\n    });\n    parsedData = JSON.parse(furtherSanitizedOutput);\n  }\n  function convertHtmlToSingleLine(data) {\n    if (typeof data === 'string') {\n      return data.replace(/[\\n\\r]+/g, ' ').replace(/\\s+/g, ' ').trim();\n    } else if (Array.isArray(data)) {\n      return data.map(item => convertHtmlToSingleLine(item));\n    } else if (typeof data === 'object' && data !== null) {\n      const newObj = {};\n      for (const key in data) {\n        if (data.hasOwnProperty(key)) {\n          newObj[key] = convertHtmlToSingleLine(data[key]);\n        }\n      }\n      return newObj;\n    }\n    return data;\n  }\n  parsedData = convertHtmlToSingleLine(parsedData);\n  return [{ output: parsedData }];\n} catch (error) {\n  throw new Error(\"Failed to parse JSON: \" + error.message);\n}\n"
      },
      "id": "json-cleaner",
      "name": "Clean JSON Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2048, 144],
      "executeOnce": false,
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [784, 160],
      "id": "merge-branches",
      "name": "Merge Data Paths"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "chat_histories",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "session_id",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.headers[\"x-conversation-id\"] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1168, 144],
      "id": "get-history",
      "name": "Get Chat History"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "user_tracking",
        "filters": {
          "conditions": [
            {
              "keyName": "x_forwarded_for",
              "keyValue": "={{ $('Webhook').item.json.headers['x-forwarded-for'] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [112, 48],
      "id": "check-visitor",
      "name": "Check Visitor"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "new-visitor",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [272, 48],
      "id": "is-new",
      "name": "Is New Visitor"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "msg-content",
              "name": "content",
              "value": "={{ $json.message.content }}",
              "type": "string"
            },
            {
              "id": "msg-type",
              "name": "type",
              "value": "={{ $json.message.type }}",
              "type": "string"
            },
            {
              "id": "msg-time",
              "name": "timestamp",
              "value": "={{ $json.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1344, 144],
      "id": "format-messages",
      "name": "Format Chat Messages"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "chat_history",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1520, 144],
      "id": "aggregate-conv",
      "name": "Aggregate Conversation"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## TASK\nYou are a CRM data extraction assistant. Analyze the conversation and extract structured lead information.\n\n## CONVERSATION DATA\n{{ JSON.stringify($json.chat_history) }}\n\n## OUTPUT REQUIREMENTS\nReturn ONLY valid JSON with this exact structure:\n{\n  \"CRM_Ready\": \"1 if all key fields present, 0 otherwise\",\n  \"Title\": \"Brief summary (max 16 chars)\",\n  \"E-Mail\": \"customer email\",\n  \"Phone\": \"phone number\",\n  \"Name\": \"full name\",\n  \"CompanyURL\": \"company website\",\n  \"Response\": \"• Bullet point summary of conversation\",\n  \"Language\": \"ISO language code (EN, DE, FR, etc.)\",\n  \"Unternehmensname\": \"company name\",\n  \"gender_salutation\": \"appropriate salutation\"\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1712, 144],
      "id": "analyze-lead",
      "name": "Analyze Lead Quality"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "YOUR_SLACK_CHANNEL_ID",
          "mode": "list",
          "cachedResultName": "sales-channel"
        },
        "text": "⚠️ New chatbot lead requires manual review",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [2528, 320],
      "id": "notify-team",
      "name": "Notify Team on Slack"
    },
    {
      "parameters": {
        "content": "# INPUT PROCESSING & AI PREPARATION\n\nIncoming messages and file uploads are processed and analyzed by AI.",
        "height": 980,
        "width": 1440,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-1968, -240],
      "id": "note-1",
      "name": "Section 1: Input"
    },
    {
      "parameters": {
        "content": "# RESPONSE & ANALYTICS\n\nAI generates response and visitor analytics are tracked.",
        "height": 980,
        "width": 1220,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-528, -240],
      "id": "note-2",
      "name": "Section 2: Response"
    },
    {
      "parameters": {
        "content": "# LEAD DETECTION & QUALIFICATION\n\nContact information is extracted and leads are qualified.",
        "height": 980,
        "width": 1300,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [704, -240],
      "id": "note-3",
      "name": "Section 3: Lead Detection"
    },
    {
      "parameters": {
        "content": "# CRM INTEGRATION\n\nQualified leads are automatically added to your CRM with full context.",
        "height": 980,
        "width": 1500,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [2000, -240],
      "id": "note-4",
      "name": "Section 4: CRM"
    },
    {
      "parameters": {
        "text": "={{$input.first().json.output || \"\"}}",
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n  \"chatResponse\": \"<p>AI response here</p>\",\n  \"pills\": [\"Key Point 1\", \"Key Point 2\"],\n  \"sources\": [{\"title\":\"Source\",\"url\":\"https://example.com\"}],\n  \"ctaType\": \"contact\"\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.1,
      "position": [-384, 48],
      "id": "extract-structured",
      "name": "Extract Structured Response"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [-384, 208],
      "id": "gemini-struct",
      "name": "Gemini for Structuring"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "final-check",
              "leftValue": "={{ $json.output.CRM_Ready }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-16, 368],
      "id": "final-validation",
      "name": "Validate Lead Data"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "user_tracking",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "x_forwarded_for",
              "condition": "eq",
              "keyValue": "={{ String($('Webhook').item.json.headers['x-forwarded-for'] || '').split(',')[0].trim() }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "last_updated",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "visits",
              "fieldValue": "={{ $json.visits + 1 }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [448, 144],
      "id": "update-visitor",
      "name": "Update Visitor Count"
    },
    {
      "parameters": {
        "tableId": "user_tracking",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "x_forwarded_for",
              "fieldValue": "={{ String($('Webhook').item.json.headers['x-forwarded-for'] || '').split(',')[0].trim() || null }}"
            },
            {
              "fieldId": "visits",
              "fieldValue": "1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [464, -144],
      "id": "create-visitor",
      "name": "Create New Visitor"
    },
    {
      "parameters": {
        "resource": "person",
        "name": "={{ $json.output.Name }}",
        "additionalFields": {
          "email": ["={{ $json.output['E-Mail'] }}"],
          "phone": ["={{ $json.output.Phone }}"]
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [2656, -448],
      "id": "crm-person-simple",
      "name": "Create Contact (Simple Path)"
    },
    {
      "parameters": {
        "title": "New Chatbot Lead",
        "associateWith": "person",
        "person_id": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [2928, -448],
      "id": "crm-deal-simple",
      "name": "Create Deal (Simple Path)"
    },
    {
      "parameters": {
        "operation": "update",
        "dealId": "={{ $json.id }}",
        "updateFields": {
          "stage_id": "YOUR_PIPELINE_STAGE_ID"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [3184, -432],
      "id": "set-stage",
      "name": "Set Deal Stage"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "YOUR_FOLLOWUP_WORKFLOW_ID",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "information": "={{ JSON.stringify($('Aggregate Conversation').item.json.chat_history) }}",
            "phone": "={{ $('Clean JSON Output').item.json.output.Phone }}",
            "company_url": "={{ $('Clean JSON Output').item.json.output.CompanyURL }}",
            "email": "={{ $('Clean JSON Output').item.json.output['E-Mail'] }}",
            "name": "={{ $('Clean JSON Output').item.json.output.Name }}"
          }
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [4448, -48],
      "id": "trigger-followup",
      "name": "Trigger Follow-up Workflow"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-1936, 208],
      "id": "incoming-webhook",
      "name": "Webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json.output) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [-80, 48],
      "id": "send-response",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "resource": "organization",
        "name": "={{ $json.output.Unternehmensname }}"
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [2608, -48],
      "id": "crm-org",
      "name": "Create Organization"
    },
    {
      "parameters": {
        "resource": "person",
        "name": "={{ $('Clean JSON Output').item.json.output.Name }}",
        "additionalFields": {
          "email": ["={{ $('Clean JSON Output').item.json.output['E-Mail'] }}"],
          "org_id": "={{ $json.id }}",
          "phone": ["={{ $('Clean JSON Output').item.json.output.Phone }}"]
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [3696, -48],
      "id": "crm-person",
      "name": "Create Contact"
    },
    {
      "parameters": {
        "title": "={{ $json.org_id.name }} / Chatbot Lead",
        "org_id": "={{ $('Create Organization').item.json.id }}",
        "additionalFields": {
          "person_id": "={{ $json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [3952, -48],
      "id": "crm-deal",
      "name": "Create Deal"
    },
    {
      "parameters": {
        "resource": "note",
        "content": "=# Chatbot Lead Summary\n\nCompany: {{ $('Clean JSON Output').item.json.output.Unternehmensname }}\nWebsite: {{ $('Clean JSON Output').item.json.output.CompanyURL }}\n\nContact: {{ $('Clean JSON Output').item.json.output.Name }}\nPhone: {{ $('Clean JSON Output').item.json.output.Phone }}\nEmail: {{ $('Clean JSON Output').item.json.output['E-Mail'] }}\n\nConversation Summary:\n{{ $('Clean JSON Output').item.json.output.Response }}",
        "additionalFields": {
          "deal_id": "={{ $json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [4208, -48],
      "id": "crm-note",
      "name": "Add Lead Note"
    },
    {
      "parameters": {
        "resource": "organization",
        "operation": "update",
        "organizationId": "={{ $json.id }}",
        "updateFields": {
          "customProperties": {
            "property": [
              {
                "name": "website",
                "value": "={{ $('Clean JSON Output').item.json.output.CompanyURL }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [3072, -48],
      "id": "update-org-url",
      "name": "Update Organization URL"
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [[{"node": "Extract Contact Info", "type": "main", "index": 0}, {"node": "Extract Structured Response", "type": "main", "index": 0}]]
    },
    "Postgres Chat Memory": {
      "ai_memory": [[{"node": "AI Agent", "type": "ai_memory", "index": 0}]]
    },
    "Parse Files": {
      "main": [[{"node": "If Files Exist", "type": "main", "index": 0}]]
    },
    "Loop Over Files": {
      "main": [[{"node": "Combine Files", "type": "main", "index": 0}], [{"node": "Gemini Analyze File", "type": "main", "index": 0}]]
    },
    "Combine Files": {
      "main": [[{"node": "AI Agent", "type": "main", "index": 0}]]
    },
    "If Files Exist": {
      "main": [[{"node": "AI Agent", "type": "main", "index": 0}], [{"node": "Loop Over Files", "type": "main", "index": 0}]]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [[{"node": "AI Agent", "type": "ai_languageModel", "index": 0}]]
    },
    "Gemini Analyze File": {
      "main": [[{"node": "Loop Over Files", "type": "main", "index": 0}]]
    },
    "Google Search Tool": {
      "ai_tool": [[{"node": "AI Agent", "type": "ai_tool", "index": 0}]]
    },
    "Extract Contact Info": {
      "main": [[{"node": "Validate Lead Data", "type": "main", "index": 0}]]
    },
    "Check If Qualified Lead": {
      "main": [[{"node": "Create Organization", "type": "main", "index": 0}], [{"node": "Notify Team on Slack", "type": "main", "index": 0}]]
    },
    "Early Contact Detection": {
      "main": [[{"node": "Get Chat History", "type": "main", "index": 0}]]
    },
    "Gemini Pro for Analysis": {
      "ai_languageModel": [[{"node": "Analyze Lead Quality", "type": "ai_languageModel", "index": 0}]]
    },
    "Clean JSON Output": {
      "main": [[{"node": "Check If Qualified Lead", "type": "main", "index": 0}]]
    },
    "Merge Data Paths": {
      "main": [[{"node": "Early Contact Detection", "type": "main", "index": 0}]]
    },
    "Get Chat History": {
      "main": [[{"node": "Format Chat Messages", "type": "main", "index": 0}]]
    },
    "Check Visitor": {
      "main": [[{"node": "Is New Visitor", "type": "main", "index": 0}]]
    },
    "Is New Visitor": {
      "main": [[{"node": "Create New Visitor", "type": "main", "index": 0}], [{"node": "Update Visitor Count", "type": "main", "index": 0}]]
    },
    "Format Chat Messages": {
      "main": [[{"node": "Aggregate Conversation", "type": "main", "index": 0}]]
    },
    "Aggregate Conversation": {
      "main": [[{"node": "Analyze Lead Quality", "type": "main", "index": 0}]]
    },
    "Analyze Lead Quality": {
      "main": [[{"node": "Clean JSON Output", "type": "main", "index": 0}]]
    },
    "Extract Structured Response": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    },
    "Validate Lead Data": {
      "main": [[{"node": "Merge Data Paths", "type": "main", "index": 1}]]
    },
    "Create New Visitor": {
      "main": [[{"node": "Merge Data Paths", "type": "main", "index": 0}]]
    },
    "Update Visitor Count": {
      "main": [[{"node": "Merge Data Paths", "type": "main", "index": 0}]]
    },
    "Create Contact (Simple Path)": {
      "main": [[{"node": "Create Deal (Simple Path)", "type": "main", "index": 0}]]
    },
    "Create Deal (Simple Path)": {
      "main": [[{"node": "Set Deal Stage", "type": "main", "index": 0}]]
    },
    "Webhook": {
      "main": [[{"node": "Parse Files", "type": "main", "index": 0}]]
    },
    "Respond to Webhook": {
      "main": [[{"node": "Check Visitor", "type": "main", "index": 0}]]
    },
    "Create Organization": {
      "main": [[{"node": "Update Organization URL", "type": "main", "index": 0}]]
    },
    "Create Contact": {
      "main": [[{"node": "Create Deal", "type": "main", "index": 0}]]
    },
    "Create Deal": {
      "main": [[{"node": "Add Lead Note", "type": "main", "index": 0}]]
    },
    "Add Lead Note": {
      "main": [[{"node": "Trigger Follow-up Workflow", "type": "main", "index": 0}]]
    },
    "Update Organization URL": {
      "main": [[{"node": "Create Contact", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
